.sideWallpaper {
  background-image: url("https://twitter-clone-eb901.web.app/static/media/twitter.f67fd20ca4ad8f5269de.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1000px) {
  .loginpage > section > form {
    width: 70% !important;
  }
}
@media screen and (max-width: 1000px) {
  .loginpage > section > form {
    width: 80% !important;
  }
}
@media screen and (max-width: 500px) {
  .sideWallpaper {
    display: none;
  }
  .loginpage > section {
    width: 100% !important;
  }

  .loginpage > section > form {
    width: 100% !important;
    height: 100% !important;
    justify-content: center !important;
  }
}
