.sideWallpaper {
  background-image: url("https://media.istockphoto.com/id/1400020345/vector/women.jpg?s=2048x2048&w=is&k=20&c=LPrccpCmkzechJ1JQd-iyUvmeLeG0OxEACPVlpKlPVM=");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1000px) {
  .loginpage > section > form {
    width: 70% !important;
  }
}
@media screen and (max-width: 1000px) {
  .loginpage > section > form {
    width: 80% !important;
  }
}
@media screen and (max-width: 500px) {
  .sideWallpaper {
    display: none;
  }
  .loginpage > section {
    width: 100% !important;
  }

  .loginpage > section > form {
    width: 100% !important;
    height: 100% !important;
    justify-content: center !important;
  }
}
